<h1 class="text-center">Pet Profile</h1>

<div id="pet-profile">
    <h2 class="text-center">Name</h2>

    <!-- pet image -->
    <div>
        <img src="pet-image.jpg" alt="pet photo">
    </div>

    <!-- pet details -->
    <div>
        <p><bold>Class:</bold> the class</p>
        <p><bold>Breed:</bold> the breed</p>
        <p><bold>Age:</bold> the age</p>
        <p><bold>Location:</bold> the location</p>
    </div>

</div>