<div id="user-profile">
    <h2 class="text-center">User Profile</h2>
    <div class="profile-image">
        <img src="(enter prof pic stuff)" alt="Profile Picture">
    </div>
    <p><strong>Username:</strong> {{username}}</p>
    <p><strong>Bio:</strong> user bio</p>
</div>