<!-- profile page-->
<!-- profile.hbs -->
<h1>Profile Page</h1>

<div>
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Name:</strong> {{user.name}}</p>
    <p><strong>Location:</strong> {{user.location}}</p>
</div>

<a href="/editProfile" class="btn btn-primary">Edit Profile</a>
