   <div id="g2body">
    <div class="register-container">
        <h2>Pet's information</h2>
        <form id="petInformationForm" action="/register2" method="POST">
            <label for="pet-Name">Pet's Name</label>
            <input type="text" id="pet-Name" name="pet-Name" required>

            <label for="pet-class">Pet's Class</label>
            <input type="text" id="pet-class" name="pet-class" required>
            
            <label for="pet-breed">Pet's Breed</label>
            <input type="text" id="pet-breed" name="pet-breed" required>

            <label for="eye-color">Eye Color</label>
            <input type="text" id="eye-color" name="eye-color" required>

            <label for="birth">Birthday</label>
            <input type="text" id="birth" name="birth" required>

            <label for="location">Location</label>
            <input type="text" id="Location" name="Location" required>

            <button type="submit">continue</button>
        </form>
    </div>
</div>

</body>
