<header>
  <nav class="navbar navbar-expand-sm border-bottom lavender-navbar">
    <div class="container">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>

          <!-- Search Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Search
            </a>
            <ul class="dropdown-menu" aria-labelledby="searchDropdown">
              <!-- Search Form -->
              <form id="search-form" action="/search" method="get" class="search-bar">
                <div class="input-field">
                  <input type="text" name="name" id="name" placeholder="Search by Name" />
                </div>
                <div class="input-field">
                  <input type="text" name="class" id="class" placeholder="Search by Class" />
                </div>
                <div class="input-field">
                  <input type="text" name="breed" id="breed" placeholder="Search by Breed" />
                </div>
                <button type="submit" class="btn waves-effect waves-light">Search</button>
        </form>
      </ul>
    </li>

    <li class="nav-item mx-auto">
      <div class="navbar-center d-flex align-items-center">
        <span class="center-text">Pet - </span>
        <img src="IMG_8981.jpg" alt="Center Image" class="center-image">
        <span class="center-text">- Snatch</span>
      </div>
    </li>

    </ul>

    {{#if user}}
    <div class="nav-item me-3">
      <a class="nav-link fw-bold" href="/wishlist">Wishlist</a>
    </div>
     <div class="nav-item me-3">
      <a class="nav-link fw-bold" href="/profile">Profile</a>
    </div>
    <div class="nav-item me-3">
      <a class="nav-link fw-bold" href="/logout">Logout</a>
    </div>
    {{else}}
    <div class="nav-item me-3">
      <a class="nav-link fw-bold" href="/register">Register</a>
    </div>
    <div class="nav-item me-3">
      <a class="nav-link fw-bold" href="/login">Login</a>
    </div>
    {{/if}}
    </div>
    </div>
  </nav>
</header>

<!-- 品种菜单，初始时隐藏 -->
<div id="catDetails" class="details-menu hidden">
  <ul>
    <li>Persian</li>
    <li>Siamese</li>
  </ul>
</div>
<div id="dogDetails" class="details-menu hidden">
  <ul>
    <li>Tea Cup Dog</li>
    <li>Golden Retriever</li>
  </ul>
</div>
<div id="birdDetails" class="details-menu hidden">
  <ul>
    <li>Parrot</li>
    <li>Canary</li>
  </ul>
</div>