#g2body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('IMG_8894.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Add padding to avoid content touching the edges */
}

h2 {
    text-align: center;
    color: #d6c7c7;
    grid-column: span 2; /* 让 h2 跨越两列 */
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    font-size: 16px; 
    line-height: 1.5; 
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
