{{!-- <h1 class="text-center">Login</h1>
<div class="d-flex justify-content-center">
    <form action="/login" method="POST" class="w-50">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Login</button>
    </form>
</div>
<div class="text-center mt-3">
    <p>Don't have an account? <a href="/register">Register</a></p>
</div> --}}
<body id="loginbody">
  <div class="login-container">
    <h2>Login</h2>
    <form id="loginForm" onsubmit="return validateForm()">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
      <p id="errorMessage" class="error-message"></p>
    </form>
  </div>

  <script src="script.js"></script>
          <script>
            // 在表单提交后跳转到其他页面
            document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 防止默认表单提交行为

            window.location.href = 'other_page.html'; // 修改为你的目标页面
            });

        </script>
</body>